<form class="form-horizontal" style="margin-top: 25px">
    <fieldset>
        <div class="form-group">
            <div class="col-lg-1">
                {{#if can_create_doc}}
                    <button class="btn btn-primary btn-50" {{action 'create_record' this 'isView_docList' false 'isView_docDetails' false}}><span class="glyphicon glyphicon-plus"></span></button>
                {{/if}}
            </div>
            <div class="col-lg-11"><legend>{{app_controller.translation.documents}}</legend></div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{{app_controller.translation.name}}</th>
                        <th>{{app_controller.translation.type}}</th>
                        <th>{{app_controller.translation.deadline}}</th>

                        <th>{{app_controller.translation.download}}</th>
                        <th>{{app_controller.translation.send}}</th>
                        <th>{{app_controller.translation.delete}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each document in documents}}
                        {{#if document.isDocument}}
                            <tr>
                                <td {{action 'transition_to' 'your-profile/partials/-company-document-edit' document 'isView_docList' false 'isView_docDetails' true}} style="cursor: pointer">{{document.name}}</td>
                                <td {{action 'transition_to' 'your-profile/partials/-company-document-edit' document 'isView_docList' false 'isView_docDetails' true}} style="cursor: pointer">{{document.docTemplate.name}}</td>
                                <td {{action 'transition_to' 'your-profile/partials/-company-document-edit' document 'isView_docList' false 'isView_docDetails' true}} style="cursor: pointer">{{document.deadline_toString}}</td>

                                <td>
                                    {{#each file in document.docTemplate.files}}
                                        <span {{action "download_file" file.id}} style="cursor: pointer;" class="btn-font-color">{{file.name}}</span>
                                    {{/each}}
                                </td>
                                <td><a {{action 'custom_notifyDocument' document.id}} style="cursor: pointer"><span class="glyphicon glyphicon-send"></span></a></td>
                                {{#if document.canRemove}}
                                    <td><a {{action 'open_modal' 'your-profile/modals/delete-record' document this}} style="cursor: pointer"><span class="glyphicon glyphicon-trash"></span></a></td>
                                {{else}}
                                    <td></td>
                                {{/if}}
                            </tr>
                        {{/if}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</form>