<form class="form-horizontal" style="margin-top: 25px">
    <fieldset>
        {{#if certifier}}
            <div class="form-group">
                <div class="col-lg-1">
                    {{#if can_create_doc}}
                        {{#unless controller.is_driver}}
                            <button class="btn btn-primary btn-50" {{action 'create_record' this 'isView_docList' false 'isView_docDetails' false}}><span class="glyphicon glyphicon-plus"></span></button>
                        {{/unless}}
                    {{/if}}
                </div>
                <div class="col-lg-11"><legend>{{app_controller.translation.documents}}</legend></div>
            </div>

            <div class="row" style="margin-top: 15px">
                <div class="col-lg-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{app_controller.translation.name}}</th>
                            <th>{{app_controller.translation.type}}</th>
                            <th>{{app_controller.translation.deadline}}</th>

                            <th>{{app_controller.translation.download}}</th>
                            <th>{{app_controller.translation.send}}</th>
                            <th>{{app_controller.translation.delete}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each doc in documents}}
                            {{#if doc.isActive}}
                                <tr>
                                    <td {{action 'transition_to' 'your-profile/partials/-company-document-edit' doc 'isView_docList' false 'isView_docDetails' true}} style="cursor: pointer">{{doc.name}}</td>
                                    <td {{action 'transition_to' 'your-profile/partials/-company-document-edit' doc 'isView_docList' false 'isView_docDetails' true}} style="cursor: pointer">{{doc.type}}</td>
                                    <td {{action 'transition_to' 'your-profile/partials/-company-document-edit' doc 'isView_docList' false 'isView_docDetails' true}} style="cursor: pointer">{{doc.showExpirationDate}} </td>

                                    <td>
                                        {{#each file in doc.files}}
                                            <span {{action "download_file" file.id}} style="cursor: pointer;" class="btn-font-color">{{file.name}}</span>
                                        {{/each}}
                                    </td>
                                    {{#if doc.isDocument}}
                                        {{#unless doc.isCertified}}
                                            {{#if doc.isOwnerCompany}}
                                                <td><a {{action 'custom_notifyDocument' doc}} style="cursor: pointer"><span class="glyphicon glyphicon-send"></span></a></td>
                                            {{else}}
                                                <td></td>
                                            {{/if}}
                                        {{else}}
                                            <td></td>
                                        {{/unless}}
                                    {{else}}
                                        {{#if doc.isInvoice}}
                                            {{#unless doc.isCertified}}
                                                {{#if doc.isOwnerCompany}}
                                                    <td><a {{action 'custom_notifyDocument' doc}} style="cursor: pointer"><span class="glyphicon glyphicon-send"></span></a></td>
                                                {{else}}
                                                    <td></td>
                                                {{/if}}
                                            {{else}}
                                                <td></td>
                                            {{/unless}}
                                        {{else}}
                                            <td></td>
                                        {{/if}}
                                    {{/if}}

                                    {{#if doc.canRemove}}
                                        <td><a {{action 'open_modal' 'your-profile/modals/delete-record' doc sub_record_company}} style="cursor: pointer"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    {{else}}
                                        <td></td>
                                    {{/if}}
                                </tr>
                            {{/if}}
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{/if}}
    </fieldset>
</form>
