<form class="form-horizontal" style="margin-top: 25px">
    <fieldset>
    <div class="form-group">
        <div class="col-lg-1">

            <!--------   modifica del documento
                         grants -  canEdit sul modello e nel caso in cui il document sia un NewDocument
            -------------------------------->

            {{#if controller.canEdit_companyDocument}}
                {{#if isView_docDetails}}
                    <button class="btn btn-primary btn-50" {{action 'set_variable' 'isView_docDetails' false}}><span class="glyphicon glyphicon-pencil"></span></button>
                {{else}}
                    <button class="btn btn-primary btn-50" {{action 'set_record' 'document' 'isView_docList' true this}}><span class="glyphicon glyphicon-ok"></span></button>
                {{/if}}
            {{/if}}
        </div>
        <div class="col-lg-9"><legend>{{app_controller.translation.documents}}</legend></div>
        <div class="col-lg-2">
            <button class="btn btn-default btn-group-justified" {{action 'transition_to' 'your-profile/partials/-company-document-list' sub_record_document 'isView_docList' true 'isView_docDetails' false}}>
                <strong>{{app_controller.translation.return}}</strong>
            </button>
        </div>
    </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">{{app_controller.translation.name}}</label>
            <div class="col-lg-9">
                {{#if isView_docDetails}}
                    {{#if sub_record_document.name}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{sub_record_document.name}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{input value = sub_record_document.name type = "text" class = "form-control"}}
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">{{app_controller.translation.type}}</label>
            <div class="col-lg-9">
                {{#if isView_docDetails}}
                    {{#if sub_record_document.type}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{sub_record_document.type}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}

                    {{#unless is_supplier}}
                        {{view "select" content = documentTypes value = sub_record_document.type class = "form-control"}}
                    {{else}}
                        {{view "select" content = documentTypes_supplier value = sub_record_document.type class = "form-control"}}
                    {{/unless}}

                {{/if}}
            </div>
        </div>
        {{#if sub_record_document.isDocument}}
            <div class="form-group">
                <label class="col-lg-3 control-label">{{app_controller.translation.template}} {{!{{sub_record_document.docTemplate.name}}</label>
                <div class="col-lg-9">
                    {{#if isView_docDetails}}
                        {{#if sub_record_document.docTemplate}}
                            <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{sub_record_document.docTemplate.name}}</p>
                        {{else}}
                            <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                        {{/if}}
                    {{else}}
                        {{select-2
                        content=app_controller.records_docTemplate
                        value=sub_record_document.docTemplate
                        optionLabelPath="name"
                        placeholder="Choose a document type"
                        typeaheadNoMatchesText="No document type found for '%@'"
                        typeaheadErrorText="Loading failed: %@"
                        enabled=true
                        allowClear=true
                        }}
                    {{/if}}
                </div>
            </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">{{app_controller.translation.validityDate}}</label>
            <div class="col-lg-3">
                {{#if isView_docDetails}}
                    {{#if sub_record_document.validityDate}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{sub_record_document.validityDate_toString}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{bootstrap-datepicker
                    value=controller.sub_record_document.validityDate
                    clearBtn=true
                    placeholder="Select a date"
                    class="form-control"
                    autoclose=true}}

                    {{!{{date-picker date=sub_record_document.validityDate valueFormat='YYYY-MM-DD' class="form-control"}}
                    {{!{{input value = sub_record_document.validityDate type = "date" class = "form-control"}}
                {{/if}}
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <label class="col-lg-3 control-label">{{app_controller.translation.deadLine}} </label>
            </div>

            <div class="col-lg-3">

                {{#if sub_record_document.expirationDate}}
                    <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{sub_record_document.showExpirationDate}}</p>
                {{else}}
                    <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                {{/if}}

            </div>

        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">{{app_controller.translation.alert}}</label>
            <div class="col-lg-3">

                    {{#if sub_record_document.alert}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{sub_record_document.alert_toString}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}

            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <label class="col-lg-3 control-label">{{app_controller.translation.grace}}</label>
            </div>
            <div class="col-lg-3">

                    {{#if sub_record_document.grace}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{sub_record_document.grace_toString}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}

            </div>
        </div>
        {{/if}}
        <div class="form-group">
            <label class="col-lg-3 control-label">{{app_controller.translation.note}}</label>
            <div class="col-lg-9">
                {{#if isView_docDetails}}
                    {{#if sub_record_document.note}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{sub_record_document.note}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{textarea value=sub_record_document.note class = "form-control" rows= 4}}
                {{/if}}
            </div>
        </div>
        {{#if controller.sub_record_document.docTemplate.files}}
            <div class="form-group">
                <label class="col-lg-3 control-label">{{app_controller.translation.filesToDownload}}</label>
                <div class="col-lg-9">
                    {{#if isView_docDetails}}
                        {{#each controller.sub_record_document.docTemplate.files}}
                            <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{name}}</p>
                        {{/each}}
                    {{else}}
                        {{#if controller.sub_record_document.docTemplate}}
                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <div class="row" style="margin-top: 15px">
                                                <div class="col-lg-12">
                                                    <table class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>{{app_controller.translation.name}}</th>
                                                            <th>{{app_controller.translation.type}}</th>

                                                            <th>{{app_controller.translation.download}}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {{#each file in controller.sub_record_document.docTemplate.files}}
                                                            <tr>
                                                                <td>{{file.name}}</td>
                                                                <td>{{file.type}}</td>

                                                                <td><a href="#" {{action "download_file" file.id}}><span class="glyphicon glyphicon-download"></span></a></td>
                                                            </tr>
                                                        {{/each}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        {{else}}
                            <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        {{/if}}

        {{#if controller.sub_record_document.files}}
            <div class="form-group">
                <label class="col-lg-3 control-label">{{app_controller.translation.files}}</label>
                <div class="col-lg-9">
                    {{#if isView_docDetails}}
                        {{#each controller.sub_record_document.files}}
                            <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{name}}</p>
                        {{/each}}
                    {{else}}
                        <div class="row">
                            <div class="col-lg-12">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="row" style="margin-top: 15px">
                                            <div class="col-lg-12">
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>{{app_controller.translation.name}}</th>
                                                        <th>{{app_controller.translation.type}}</th>

                                                        <th>{{app_controller.translation.delete}}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {{#each file in controller.sub_record_document.files}}
                                                        <tr>
                                                            <td>{{file.name}}</td>
                                                            <td>{{file.type}}</td>

                                                            <td><a {{action 'open_modal' 'your-profile/modals/delete-record' file this}} style="cursor: pointer"><span class="glyphicon glyphicon-trash"></span></a></td>
                                                        </tr>
                                                    {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}
        <div class="page-header"></div>
        <div class="form-group">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                {{#unless isView_docDetails}}
                    {{#view 'upload-file' record_model='document'}}
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse file&hellip; <input type="file" multiple>
                                </span>
                            </span>
                            {{input id="selected_file" type="text" placeholder="max. 10 MB" class='form-control'}}
                            <span class="input-group-btn">
                                <button id='button_upload' {{bind-attr value=sub_record_document.id}} type="button" data-loading-text="Loading..." class="btn btn-primary btn-130 pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Upload</button>
                            </span>
                        </div>
                    {{/view}}
                {{/unless}}
            </div>
        </div>
    </fieldset>
</form>