<form class="form-horizontal">
    <fieldset>
    {{#if controller.sub_record.canEdit}}   <!-- può modificare solo il proprietario della company o i clerks-->
        <div class="form-group">
            <div class="col-lg-1">
                {{#if controller.isView}}
                    <button class="btn btn-primary btn-50" {{action 'change_state' 'your-profile/main' false}}><span class="glyphicon glyphicon-pencil"></span></button>
                {{else}}
                    <button class="btn btn-primary btn-50" {{action 'set_record' 'user_vehicle' 'isView' true}}><span class="glyphicon glyphicon-ok"></span></button>
                {{/if}}
            </div>
            <div class="col-lg-11"><legend>{{app_controller.translation.details}}</legend> </div>
        </div>
    {{/if}}

        <!--<legend>-->
            <!--&lt;!&ndash;------------------ button return-to-list --------------------&ndash;&gt;-->
            <!--<span {{!{{action 'transition_to' 'your-profile/partials/-tab-user-driver-list' null 'isView' true 'transition_to_list' true}} style="cursor: pointer" class="pull-right">-->
                <!--<strong style="color: #4582ec;">List</strong>-->
                <!--<span class="glyphicon glyphicon-chevron-right btn-font-color"></span>-->
            <!--</span>-->
        <!--</legend>-->
        <div class="form-group">
            <label for="name" class="col-lg-3 control-label">{{app_controller.translation.name}}</label>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{#if controller.sub_record.name}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.sub_record.name}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{input value = controller.sub_record.name type = "text" class = "form-control"  disabled= controller.isView}}
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-lg-3 control-label">{{app_controller.translation.brand}}</label>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{#if controller.sub_record.brand}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.sub_record.brand}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{input value = controller.sub_record.brand type = "text" class = "form-control"  disabled= controller.isView}}
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-lg-3 control-label">{{app_controller.translation.model}}</label>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{#if controller.sub_record.model}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.sub_record.model}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{input value = controller.sub_record.vehicleModel type = "text" class = "form-control"  disabled= controller.isView}}
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-lg-3 control-label">{{app_controller.translation.description}}</label>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{#if controller.sub_record.description}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.sub_record.description}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{input value = controller.sub_record.description type = "text" class = "form-control"  disabled= controller.isView}}
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-lg-3 control-label">{{app_controller.translation.configuration}}</label>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{#if controller.sub_record.configurations}}
                        {{#each configurations}}
                            <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{this}}</p>
                        {{/each}}
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{auto-suggest source=app_controller.auto_suggest_Configurations destination=controller.sub_record.configurations searchPath="value" usecase="customMode" minChars=0}}
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-lg-3 control-label">{{app_controller.translation.registrationYear}}</label>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{#if controller.sub_record.registrationYear}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.sub_record.registrationYear}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{date-picker date=controller.sub_record.registrationYear valueFormat='YYYY-MM-DD' class="form-control" disabled= controller.isView}}
                    {{!{{input value = controller.sub_record.registrationYear type = "date" class="form-control" disabled= controller.isView}}
                {{/if}}
            </div>
        </div>

    {{#if isTrailer}}
        <div class="form-group">
            <label for="name" class="col-lg-3 control-label">{{app_controller.translation.chassisNumber}}</label>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{#if controller.sub_record.chassisNumber}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.sub_record.chassisNumber}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{input value = controller.sub_record.chassisNumber type = "text" class="form-control" disabled= controller.isView}}
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-lg-3 control-label">{{app_controller.translation.weight}}</label>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{#if controller.sub_record.weight}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.sub_record.weight}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{input value = controller.sub_record.weight type = "number" class="form-control" disabled= controller.isView}}
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-lg-3 control-label">{{app_controller.translation.tare}}</label>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{#if controller.sub_record.tare}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.sub_record.tare}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{input value = controller.sub_record.tare type = "number" class="form-control" disabled= controller.isView}}
                {{/if}}
            </div>
        </div>
    {{else}}
        <div class="form-group">
            <label for="name" class="col-lg-3 control-label">{{app_controller.translation.category}}</label>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{#if controller.sub_record.category}}
                        <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.sub_record.category}}</p>
                    {{else}}
                        <p style="margin-top: 25px; border-bottom: 1px solid #e5e5e5;"></p>
                    {{/if}}
                {{else}}
                    {{input value = controller.sub_record.category type = "string" class="form-control" disabled= controller.isView}}
                {{/if}}
            </div>
        </div>

    {{/if}}

    </fieldset>
</form>