<div class="row" style="margin-top: 45px">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:10%">{{app_controller.translation.new}}</th>
                <th style="width:10%">{{app_controller.translation.date}}</th>
                <th style="width:20%">{{app_controller.translation.details}}</th>
                <th style="width:20%">{{app_controller.translation.description}}</th>
                <th style="width:20%">{{app_controller.translation.company}}</th>

                {{#if this.isCertifier}}
                    <th style="width:15%">{{app_controller.translation.user}}</th>
                    <th style="width:10%">{{app_controller.translation.download}}</th>
                    <th style="width:10%">{{app_controller.translation.certificate}}</th>
                {{else}}
                    <th style="width:15%">{{app_controller.translation.value}}</th>
                    <th style="width:10%">{{app_controller.translation.deadline}}</th>
                    <th style="width:10%">{{app_controller.translation.certificate}}</th>
                {{/if}}

                <th style="width:10%">{{app_controller.translation.hide}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each notification in app_controller.records_notifications}}
                {{#unless notification.isLink}}
                    {{#if notification.viewNotification}}
                        <tr {{bind-attr class = "notification.highlighted:warning"}}>
                            <td align="center">
                                {{#if notification.isDeadline}}
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                {{/if}}
                            </td>
                            <td align="center">
                                {{#if notification.highlighted}}
                                    <a href="#"><span class="glyphicon glyphicon-check" style="text-align: center" {{action "set_record" notification 'highlighted' false}}></span></a>
                                {{else}}
                                    <a href="#"><span class="glyphicon glyphicon-unchecked" style="text-align: center" {{action "set_record" notification 'highlighted' true}}></span></a>
                                {{/if}}
                            </td>
                            <td {{action 'open_modal' 'notification/modals/show-details' notification}} style="cursor: pointer">{{notification.showDate}} </td>
                            <td {{action 'open_modal' 'notification/modals/show-details' notification}} style="cursor: pointer">{{notification.name}} </td>
                            <td {{action 'open_modal' 'notification/modals/show-details' notification}} style="cursor: pointer">{{notification.description}} </td>
                            <td {{action 'open_modal' 'notification/modals/show-details' notification}} style="cursor: pointer">{{notification.fromCompanyDetail}} </td>

                            <!-- TIPO DEADLINE-->
                            {{#if notification.isDeadline}}
                                <td {{action 'open_modal' 'notification/modals/show-details' notification}} style="cursor: pointer">{{notification.valueNum}} </td>
                                <td {{action 'open_modal' 'notification/modals/show-details' notification}} style="cursor: pointer">{{notification.showDeadline}} </td>
                                <td></td>
                            {{/if}}

                            <!-- TIPO NEW RATING-->
                            {{#if notification.isNewRating}}
                                <td {{action 'open_modal' 'notification/modals/show-details' notification}} style="cursor: pointer">{{notification.valueNum}} </td>
                                <td></td>
                                <td></td>
                            {{/if}}

                            <!-- TIPO CREDIT-->
                            {{#if notification.isCredit}}
                                <td></td>
                                <td></td>
                                <td></td>
                            {{/if}}

                            <!-- TIPO SERVICE RATING-->
                            {{#if notification.isServiceRating}}
                                <td {{action 'open_modal' 'notification/modals/show-details' notification}} style="cursor: pointer">{{notification.valueNum}} </td>
                                <td {{action 'open_modal' 'notification/modals/show-details' notification}} style="cursor: pointer">{{notification.showDeadline}} </td>
                                {{#if notification.actionToken}}
                                    <td><a href="#" {{action 'open_modal' 'notification/modals/certificate' notification}}><span class="glyphicon glyphicon-pencil"></span></a></td>
                                {{else}}
                                    <td></td>
                                {{/if}}

                            {{/if}}

                            <!-- TIPO CERTIFICATION RATING - SOLO PER IL CERTIFICATORE-->
                            {{#if notification.isCertificationRating}}
                                <td>{{notification.fromUserDetails}}</td>
                                <td>
                                    {{#each file in notification.document.files}}
                                        <a href="#" {{action 'download_file' file.id}} >{{file.name}}</a>
                                    {{/each}}
                                </td>
                                {{#if notification.actionToken}}
                                    <td><a href="#" {{action 'open_modal' 'notification/modals/certificate' notification}}><span class="glyphicon glyphicon-pencil"></span></a></td>
                                {{else}}
                                    <td></td>
                                {{/if}}

                            {{/if}}

                            <td>
                                <a href="#"><span class="glyphicon glyphicon-eye-close" style="text-align: center" {{action "set_record" notification 'status' 'hide'}}></span></a>
                            </td>
                        </tr>

                    {{/if}}
                {{/unless}}
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <a href="#"><h5 class="pull-right" {{action 'show_hide_notifications' 'status_hide' true}}>{{app_controller.translation.showHideNotifications}}</h5></a>
    </div>
    <div class="col-lg-1"></div>
</div>