<section id="hero" class="hero-fixed hero-fade hero-medium">
    <div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-lg-12">
                {{#if controller.newLog}}
                    {{partial "login/partials/-new"}}
                {{else}}
                    {{partial "login/partials/-submit"}}
                {{/if}}
            </div>
        </div>
    </div>
</section>

<div class="footer navbar-fixed-bottom" style="background-color: #f5f5f5; padding: 18px 0 0;height: 60px;">
    <div class="container">
        <a style="cursor: pointer" {{action 'open_modal' 'login/modals/about'}}> {{controller.translation.about}} </a> &nbsp;
        <a style="cursor: pointer" {{action 'open_modal' 'login/modals/terms'}}> {{controller.translation.terms}}</a> &nbsp;
        <a style="cursor: pointer" {{action 'open_modal' 'login/modals/privacy'}}>{{controller.translation.privacy}} </a> &nbsp;
    </div>
</div>

