<div class="container container-outer">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <!-------------------- HEADER ---------------------->
            <div class="row">
                <div class="col-lg-2"></div>
                <!-------------------- nome company ---------------------->
                <div class="col-lg-8">
                    <div class="panel-title1" style="text-align: center">{{name}}</div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <!-------------------- BODY ---------------------->
        <!-------------------- TAB-HEAD ---------------------->
        <div class="panel-body">
            <ul class="nav nav-pills nav-justified" style="margin-bottom: 15px;">
                <!-------------------- label: company ---------------------->
                <li {{bind-attr class="controller.tabList.company:active"}}>
                    <a href="#"{{action 'setTabs' "company"}}><h5>{{app_controller.translation.company}}</h5></a>
                </li>
                <!-------------------- label: drivers-list / driver ---------------------->
                {{#if isCarrier}}
                    <li {{bind-attr class="controller.tabList.driver:active"}}>
                        <a href="#" {{action 'setTabs' "driver"}}>
                            <h5>

                                    {{#if controller.tabList.driver}}
                                        {{#if controller.transition_to_list}}
                                            {{app_controller.translation.driversList}} {{else}} {{app_controller.translation.returnToList}} {{/if}}
                                    {{else}}
                                        {{app_controller.translation.driversList}}
                                    {{/if}}

                            </h5>
                        </a>
                    </li>
                    <!-------------------- label: trucks-list / truck ---------------------->
                    <li {{bind-attr class="controller.tabList.truck:active"}}>
                        <a href="#" {{action 'setTabs' "truck"}}>
                            <h5>
                                {{#if controller.tabList.truck}}
                                    {{#if controller.transition_to_list}} {{app_controller.translation.trucksList}} {{else}} {{app_controller.translation.returnToList}} {{/if}}
                                {{else}}
                                    {{app_controller.translation.trucksList}}
                                {{/if}}
                            </h5>
                        </a>
                    </li>
                    <!-------------------- label: trailers-list / trailer ---------------------->
                    <li {{bind-attr class="controller.tabList.trailer:active"}}>
                        <a href="#" {{action 'setTabs' "trailer"}}>
                            <h5>
                                {{#if controller.tabList.trailer}}
                                    {{#if controller.transition_to_list}} {{app_controller.translation.trailersList}} {{else}} {{app_controller.translation.returnToList}} {{/if}}
                                {{else}}
                                    {{app_controller.translation.trailersList}}
                                {{/if}}
                            </h5>
                        </a>
                    </li>
                {{/if}}
                {{#if can_edit_company}}
                    {{#unless is_driver}}
                        <!-------------------- label: clerks-list / clerk ---------------------->
                        <li {{bind-attr class="controller.tabList.clerk:active"}}>
                            <a href="#" {{action 'setTabs' "clerk"}}>
                                <h5>
                                    {{#if controller.tabList.clerk}}
                                        {{#if controller.transition_to_list}} {{app_controller.translation.clerksList}} {{else}} {{app_controller.translation.returnToList}} {{/if}}
                                    {{else}}
                                        {{app_controller.translation.clerksList}}
                                    {{/if}}
                                </h5>
                            </a>
                        </li>
                    {{/unless}}
                {{/if}}

            </ul>
            <!-------------------- TAB BODY ---------------------->
            <div class="tab-content">
                <div class="tab-pane fade active in">
                    {{#if controller.tabList.company}}
                        {{partial "your-profile/tabs/-tab-company"}}
                    {{else}}
                        {{#if controller.tabList.driver}}
                            {{partial "your-profile/tabs/-tab-user-driver-list"}}
                        {{else}}
                            {{#if controller.tabList.truck}}
                                {{partial "your-profile/tabs/-tab-vehicle-truck-list"}}
                            {{else}}
                                {{#if controller.tabList.trailer}}
                                    {{partial "your-profile/tabs/-tab-vehicle-trailer-list"}}
                                {{else}}
                                    {{#if controller.tabList.clerk}}
                                        {{partial "your-profile/tabs/-tab-user-clerk-list"}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>


