<div class="container container-outer">






    <div class="panel panel-primary">
        <div class="panel-heading"><h2>Pubblica alla tua rete contatti <button type="button" class="btn btn-default pull-right" style="width: 200px" {{action 'submit' }}>Submit</button></h2></div>

        <div class="panel-body">
            <br>
            <br>
            <div class="row">
                <div class=col-lg-1></div>
                <div class=col-lg-10>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default" onselect="true">All</a>
                        <a class="btn btn-default">Shipper</a>
                        <a class="btn btn-default">Carrier</a>
                        <a class="btn btn-default">Supplier</a>
                    </div>
                </div>
                <div class=col-lg-1></div>
            </div>
            <br>
            <div class="row">
                <div class=col-lg-1></div>
                <div class=col-lg-2>
                    <h4>Title</h4>
                </div>
                <div class=col-lg-8>
                    {{input type="text" value=postTitle class="form-control" placeholder="insert title"}}
                </div>
                <div class=col-lg-1></div>
            </div>
            <br>
            <div class="row">
                <div class=col-lg-1></div>
                <div class=col-lg-2>
                    <h4>Text</h4>
                </div>
                <div class=col-lg-8>
                   {{textarea class="form-control" value=postDescription rows="4" id="textArea"}}
                </div>
                <div class=col-lg-1></div>
            </div>
            <br>
            <div class="row">
                <div class=col-lg-1></div>
                <div class=col-lg-2>
                    <h4>Load image</h4>
                </div>
                <div class=col-lg-8>
                    <div class="input-group input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" type="button">Allega</button>
                                    </span>
                    </div>
                </div>
                <div class=col-lg-1></div>
            </div>
            <br>
            <br>
        </div>
    </div>



    {{#each}}
        <div class="alert alert-dismissable alert-default" style="background-color: #4582ec">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div class="row">
                <div class="col-lg-2">
                    <div class= "well well-lg square" style="background-color: rgba(245, 245, 245, 0.4); border: 0px;">
                        <div class= "well well square-icon" style="border: 0; margin-bottom: 0"></div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class= "well well-sm" style="background-color: rgba(245, 245, 245, 0.4); border: 0px; margin-left: 10px">
                            <h4 style="color: #f5f5f5; padding-top: 10px; padding-left: 10px"><strong>{{title}}</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class= "well well-sm" style="background-color: rgba(245, 245, 245, 0.4); border: 0px; margin-left: 10px">
                            <h5 style="color: #f5f5f5; padding-top: 5px; padding-left: 10px"><strong>Description: </strong>{{description}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h5 class="pull-right" style="color: #f5f5f5; margin-top: 2px;">{{timeFrom}}</h5>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    {{/each}}




