<div class="container container-outer">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <!-------------------- HEADER ---------------------->
            <div class="row">
                <div class="col-lg-2">
                </div>
                <!-------------------- nome company ---------------------->
                <div class="col-lg-8">
                    <div class="panel-title1" style="text-align: center">{{app_controller.translation.publicToYourContactsNetwork}}</div>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-default pull-right btn-90" {{action 'submit' app_controller.company_record}}>
                        <strong class="btn-font-color" style="font-size: 21">{{app_controller.translation.submit}}</strong>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-top: 15px">
                <div class=col-lg-1></div>
                <div class=col-lg-2>
                    <h4>{{app_controller.translation.title}}</h4>
                </div>
                <div class=col-lg-8>
                    {{input type="text" value= controller.postTitle class="form-control" placeholder="insert title"}}
                </div>
                <div class=col-lg-1></div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class=col-lg-1></div>
                <div class=col-lg-2>
                    <h4>{{app_controller.translation.text}}</h4>
                </div>
                <div class=col-lg-8>
                   {{textarea class="form-control" value=controller.postDescription rows="4" id="textArea"}}
                </div>
                <div class=col-lg-1></div>
            </div>
            <!--<div class="row" style="margin-top: 15px">-->
                <!--<div class=col-lg-1></div>-->
                <!--<div class=col-lg-2>-->
                    <!--<h4>{{!{{app_controller.translation.loadImage}}</h4>-->
                <!--</div>-->
                <!--<div class=col-lg-8>-->
                    <!--<div class="input-group input-group">-->
                        <!--<input type="text" class="form-control" placeholder="Search...">-->
                        <!--<span class="input-group-btn"><button class="btn btn-default" type="button">{{!{{app_controller.translation.attached}}</button></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class=col-lg-1></div>-->
            <!--</div>-->
        </div>
    </div>
    {{#each post in this}}
        <div class="panel panel-default">
            <div class="panel-body">
                <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 95px; height: 95px;">
                                {{#each file in post.company.files}}
                                    {{#if file.isLogo}}
                                        <img src="api/files/{{unbound file.id}}?token={{unbound app_controller.token_pdoc}}&stream=true" style="opacity: 1;">
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h5>{{post.company.name}} </h5>
                                <h6 style="color: #d3d3d3">{{post.timeFrom}}</h6> <!--class="pull-right" -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="panel panel-default" style="min-height: 95px">
                            <div class="panel-body">
                                <h5>{{post.title}}</h5>
                                <h6>{{post.description}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    {{/each}}
</div>


