<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class= "well well-lg" style="background-color: rgba(38,85,63, 0.7); border: 0px">
            {{#if appController.authToken}}
            {{else}}
                {{#if loggedIn}}
                    <p>You are already logged in!</p>
                {{else}}
                    <div class="row pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffff">{{controller.translation.language}}: {{controller.translationType}}<b class="caret"></b></a>
                            <ul class="dropdown-menu" >
                                <li><a href="#" {{action 'changeLanguage' 'english'}}>{{controller.translation.english}}</a></li>
                                <li><a href="#" {{action 'changeLanguage' 'italian'}}>{{controller.translation.italian}}</a></li>
                            </ul>
                        </li>
                    </div>
                    <div class="row" style="text-align: center">
                        <h2 style="color: white"><strong>Padroncino Doc</strong></h2>
                    </div>
                    <div class="row" style="margin-top: 30px; margin-bottom: 30px">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{input id='username' valueBinding='username' type="text"  placeholder='Username' class='form-control'}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{input id='password' valueBinding='password' type="password"  placeholder='Password' class='form-control'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                    <div class="row" style="margin-bottom: 30px">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-default btn-160 pull-left" {{action 'change_newLog' 1}}>
                                {{controller.translation.signUp}}
                            </button>
                            <button type="button" class="btn btn-default btn-160 pull-right" {{action 'login'}}>{{controller.translation.login}}</button>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>