<div class="container container-outer">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <!-------------------- HEADER ---------------------->
            <div class="row">
                <div class="col-lg-2">
                </div>
                <!-------------------- nome company ---------------------->
                <div class="col-lg-8">
                    <div class="panel-title1" style="text-align: center">{{app_controller.translation.searchCompanies}}</div>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-default pull-right btn-90" {{action 'search_records'}}>
                        <strong class="btn-font-color" style="font-size: 21">{{app_controller.translation.search}}</strong>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-11">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">

                                <label for="name" class="col-lg-2 control-label">{{app_controller.translation.name}}</label>
                                <div class="col-lg-4">
                                    {{select-2
                                    content=app_controller.records_company
                                    value=controller.name
                                    optionValuePath="id"
                                    optionLabelPath="name"
                                    placeholder="Choose a company name"
                                    typeaheadNoMatchesText="No company found for '%@'"
                                    typeaheadErrorText="Loading failed: %@"
                                    enabled=true
                                    allowClear=true
                                    }}
                                </div>
                                <label for="name" class="col-lg-2 control-label">{{app_controller.translation.type}}</label>
                                <div class="col-lg-4">
                                    {{view Ember.Select
                                    content=types_list
                                    value=controller.search_type
                                    prompt="Choose a company type"
                                    class='form-control'}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-lg-2 control-label">{{app_controller.translation.country}}</label>
                                <div class="col-lg-4">
                                    {{select-2
                                    content=app_controller.nations
                                    value=controller.search_country
                                    optionValuePath="country"
                                    optionLabelPath="country"
                                    optionDescriptionPath="iso2"
                                    placeholder="Choose company country"
                                    enabled=true
                                    allowClear=true
                                    }}
                                </div>
                                <label for="name" class="col-lg-2 control-label">{{app_controller.translation.services}}</label>
                                <div class="col-lg-4">
                                    {{select-2
                                    content=app_controller.auto_suggest_Services
                                    value=controller.search_services
                                    optionValuePath="value"
                                    optionLabelPath="value"
                                    multiple=true
                                    placeholder="Choose services"
                                    enabled=true
                                    allowClear=true
                                    }}

                                    <!--optionDescriptionPath="iso2"-->
                                </div>
                            </div>


                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-1"></div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            {{#if controller.is_loading}}
                <div class="well well-lg" style="background-color: #FAFDFD">
                    <h3 class="page-header">Loading...</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>
            {{else}}
                {{#unless controller.before_search}}
                    {{#if app_controller.searchResults}}
                        {{partial 'search-company/partials/-result-search-records'}}
                    {{else}}
                        <div class="well well-lg" style="background-color: #FAFDFD">
                            <h3 class="page-body">No results.</h3>
                        </div>
                    {{/if}}
                {{/unless}}
            {{/if}}

        </div>
        <div class="col-lg-1"></div>

    </div>
</div>

