<div class="modal-header">
    <button type="button" class="close" {{action close 'overview' 'application' target="view"}}>&times;</button>
    <h3>{{controller.selectedRecord.name}}</h3>
</div>
<div class="modal-body">
    <div class="row" style="margin-bottom: 15px">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            {{app_controller.translation.rating}}
        </div>
        <div class="col-lg-8">
            <div class="input-group">
                {{input value = rating type = "text" class = "form-control"}}
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row" style="margin-bottom: 15px">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            {{app_controller.translation.isLimited}}
        </div>
        <div class="col-lg-8">
            {{view Ember.Select content = controller.bool value = isLimited class = "form-control"}}
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row" style="margin-bottom: 15px">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            {{app_controller.translation.description}}
        </div>
        <div class="col-lg-8">
            {{textarea value =  description class = "form-control" rows = "3"}}
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn" {{action close 'overview' 'application' target="view"}}>{{app_controller.translation.close}}</a>
</div>