<div class="modal-header">
    <button type="button" class="close" {{action 'close' 'overview' 'application' target="view"}}>&times;</button>
    <h3>{{controller.selectedRecord.name}}</h3>
</div>
<div class="modal-body">
    {{#if controller.selectedRecord.isNewRating}}
        <div class="row">
            <div class="col-lg-6">
                {{#if controller.selectedRecord.date}}
                    <label>{{app_controller.translation.date}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.date}}</p>
                {{/if}}

            </div>
            <div class="col-lg-6">
                {{#if controller.selectedRecord.valueNum}}
                    <label>{{app_controller.translation.value}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.valueNum}}</p>
                {{/if}}

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{#if controller.selectedRecord.fromCompanyDetail}}
                    <label>{{app_controller.translation.company}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.fromCompanyDetail}}</p>
                {{/if}}

            </div>
            <div class="col-lg-6">
                {{#if controller.selectedRecord.fromUserDetails}}
                    <label>{{app_controller.translation.user}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.fromUserDetail}}</p>
                {{/if}}
            </div>
        </div>
    {{/if}}
    {{#if controller.selectedRecord.isServiceRating}}
        <div class="row">
            <div class="col-lg-6">
                {{#if controller.selectedRecord.date}}
                    <label>{{app_controller.translation.date}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.date}}</p>
                {{/if}}

            </div>
            <div class="col-lg-6">
                {{#if controller.selectedRecord.valueNum}}
                    <label>{{app_controller.translation.value}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.valueNum}}</p>
                {{/if}}

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{#if controller.selectedRecord.fromCompanyDetail}}
                    <label>{{app_controller.translation.company}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.fromCompanyDetail}}</p>
                {{/if}}

            </div>
            <div class="col-lg-6">
                {{#if controller.selectedRecord.fromUserDetails}}
                    <label>{{app_controller.translation.user}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.fromUserDetail}}</p>
                {{/if}}
            </div>
        </div>
    {{/if}}
    {{#if controller.selectedRecord.isCertificationRating}}
        <div class="row">
            <div class="col-lg-6">
                {{#if controller.selectedRecord.date}}
                    <label>{{app_controller.translation.date}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.date}}</p>
                {{/if}}

            </div>
            <div class="col-lg-6">
                {{#if controller.selectedRecord.valueNum}}
                    <label>{{app_controller.translation.value}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.valueNum}}</p>
                {{/if}}

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{#if controller.selectedRecord.fromCompanyDetail}}
                    <label>{{app_controller.translation.company}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.fromCompanyDetail}}</p>
                {{/if}}
            </div>
            <div class="col-lg-6">
                {{#if controller.selectedRecord.fromUserDetails}}
                    <label>{{app_controller.translation.user}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.fromUserDetail}}</p>
                {{/if}}
            </div>
        </div>
    {{/if}}

    {{#if controller.selectedRecord.isDeadline}}
        <div class="row">
            <div class="col-lg-6">
                {{#if controller.selectedRecord.date}}
                    <label>{{app_controller.translation.date}}</label>
                    <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.date}}</p>
                {{/if}}
            </div>
            <div class="col-lg-6">
                {{#if controller.selectedRecord.fromCompanyDetail}}
                    <label>{{app_controller.translation.company}}</label>
                    <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.fromCompanyDetail}}</p>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{#if controller.selectedRecord.deadline}}
                    <label>{{app_controller.translation.deadline}}</label>
                    <p style="margin-top: 10px; border-bottom: 1px solid #e5e5e5;">{{controller.selectedRecord.deadline}}</p>
                {{/if}}
            </div>
            <div class="col-lg-6"></div>
        </div>
    {{/if}}
    {{#unless controller.selectedRecord.isNewRating}}
        <div class="row">
            <div class="col-lg-6">
                {{#if controller.selectedRecord.document.name}}
                    <label>{{app_controller.translation.name}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;"> {{controller.selectedRecord.document.name}}</p>
                {{/if}}
            </div>
            <div class="col-lg-6">
                {{#if controller.selectedRecord.document.type}}
                    <label>{{app_controller.translation.type}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;"> {{controller.selectedRecord.document.type}}</p>
                {{/if}}
            </div>
        </div>
        {{#if controller.selectedRecord.document.note}}
            <div class="row" style="margin-top: 15px">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>{{app_controller.translation.note}}</strong></div>
                        <div class="panel-body">
                            {{controller.selectedRecord.document.note}}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

        {{#if controller.selectedRecord.document.files}}
            <div class="row" style="margin-top: 15px">
                <div class="col-lg-12">
                    <label>{{app_controller.translation.files}}</label>
                    {{#each file in controller.selectedRecord.document.files}}
                        <p style="border-bottom: 1px solid #e5e5e5;">
                            <a href="#" {{action 'download_file' file.id}} >{{file.name}}</a>
                        </p>
                    {{/each}}
                </div>
            </div>
        {{/if}}
        {{#if controller.selectedRecord.docTemplate}}
            <div class="row" style="margin-top: 15px">
                <div class="col-lg-12">
                    <label>{{app_controller.translation.template}}</label>
                    <p style="border-bottom: 1px solid #e5e5e5;">
                        {{controller.selectedRecord.docTemplate.name}}
                    </p>
                </div>
            </div>
        {{/if}}

    {{/unless}}

</div>
<div class="modal-footer">
    <a href="#" class="btn" {{action 'close' 'overview' 'application' target="view"}}>{{app_controller.translation.Close}}</a>
</div>