<!------------------------ TAB HEADER ( admin/tabs/-tab-docs-list.hbs )--------------------------->
<!------------------------ TAB BODY --------------------------->

<!------------------------ PRIMA RIGA --------------------------->
<tr>
    <td rowspan="5">
        <!------------------------ document name --------------------------->
        <h5>
            <div class="row">
                {{#if mode_view}}
                    <div class="col-lg-2">
                        <button class="btn btn-primary btn-50" {{action 'open_modal' 'admin/modals/delete-record' docTemp this}}><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                    <div class="col-lg-10">
                        {{docTemp.name}}
                    </div>
                {{else}}
                    <div class="col-lg-12">
                        {{input type="text" class="form-control" value=docTemp.name}}
                    </div>
                {{/if}}
            </div>
        </h5>
    </td>
    <td>
        <!------------------------ goodsConfiscation --------------------------->
        {{#if mode_view}}
            {{#if docTemp.goodsConfiscation}}
                <span class="glyphicon glyphicon glyphicon-check"></span>
            {{else}}
                <span class="glyphicon glyphicon glyphicon-unchecked"></span>
            {{/if}}
            &nbsp
            {{app_controller.translation.goodsConfiscation}}
        {{else}}
            {{#if docTemp.goodsConfiscation}}
                <span class="glyphicon glyphicon glyphicon-check btn-font-color" style="cursor: pointer; margin-top: 5px" {{action 'set_record' docTemp 'goodsConfiscation' false}}></span>
            {{else}}
                <span class="glyphicon glyphicon glyphicon-unchecked btn-font-color" style="cursor: pointer; margin-top: 5px" {{action 'set_record' docTemp 'goodsConfiscation' true}}></span>
            {{/if}}
            &nbsp
            {{app_controller.translation.goodsConfiscation}}
        {{/if}}
    </td>
    <td>
        <!------------------------ vehicleConfiscation --------------------------->
        {{#if mode_view}}
            {{#if docTemp.vehicleConfiscation}}
                <span class="glyphicon glyphicon glyphicon-check"></span>
            {{else}}
                <span class="glyphicon glyphicon glyphicon-unchecked"></span>
            {{/if}}
            &nbsp
            {{app_controller.translation.vehicleConfiscation}}
        {{else}}
            {{#if docTemp.vehicleConfiscation}}
                <span class="glyphicon glyphicon glyphicon-check btn-font-color" style="cursor: pointer; margin-top: 5px" {{action 'set_record' docTemp 'vehicleConfiscation' false}}></span>
            {{else}}
                <span class="glyphicon glyphicon glyphicon-unchecked btn-font-color" style="cursor: pointer; margin-top: 5px" {{action 'set_record' docTemp 'vehicleConfiscation' true}}></span>
            {{/if}}
            &nbsp
            {{app_controller.translation.vehicleConfiscation}}
        {{/if}}
    </td>

    <!------------------------ VALE DUE RIGHE --------------------------->
    <td rowspan="2">
        <!------------------------ rate - limit --------------------------->
        <div class="form-group">
            <label class="control-label">{{app_controller.translation.rate}}</label>
            {{input type="number" class="form-control" value=docTemp.rateValue disabled = mode_view}}
        </div>
    </td>
    <!------------------------ VALE DUE RIGHE --------------------------->
    <td rowspan="2">
        <div class="form-group">
            <label class="control-label">{{app_controller.translation.limit}}</label>
            {{input type="number" class="form-control" value=docTemp.limit disabled = mode_view}}
        </div>
    </td>
</tr>
<!------------------------ SECONDA RIGA --------------------------->
<tr>
    <td>
        <!------------------------ fiscalResponsibility --------------------------->
        {{#if mode_view}}
            {{#if docTemp.fiscalResponsibility}}
                <span class="glyphicon glyphicon glyphicon-check"></span>
            {{else}}
                <span class="glyphicon glyphicon glyphicon-unchecked"></span>
            {{/if}}
            &nbsp
            {{app_controller.translation.fiscalResponsibility}}
        {{else}}
            {{#if docTemp.fiscalResponsibility}}
                <span class="glyphicon glyphicon glyphicon-check btn-font-color" style="cursor: pointer; margin-top: 5px" {{action 'set_record' docTemp 'fiscalResponsibility' false}}></span>
            {{else}}
                <span class="glyphicon glyphicon glyphicon-unchecked btn-font-color" style="cursor: pointer; margin-top: 5px" {{action 'set_record' docTemp 'fiscalResponsibility' true}}></span>
            {{/if}}
            &nbsp
            {{app_controller.translation.fiscalResponsibility}}
        {{/if}}
    </td>

    <td>
        <!------------------------ emas --------------------------->
        {{#if mode_view}}
            {{#if docTemp.emas}}
                <span class="glyphicon glyphicon glyphicon-check"></span>
            {{else}}
                <span class="glyphicon glyphicon glyphicon-unchecked"></span>
            {{/if}}
            &nbsp
            {{app_controller.translation.emas}}
        {{else}}
            {{#if docTemp.emas}}
                <span class="glyphicon glyphicon glyphicon-check btn-font-color" style="cursor: pointer; margin-top: 5px" {{action 'set_record' docTemp 'emas' false}}></span>
            {{else}}
                <span class="glyphicon glyphicon glyphicon-unchecked btn-font-color" style="cursor: pointer; margin-top: 5px" {{action 'set_record' docTemp 'emas' true}}></span>
            {{/if}}
            &nbsp
            {{app_controller.translation.emas}}
        {{/if}}
    </td>
</tr>
<!------------------------ TERZA RIGA --------------------------->
<tr>
    <td>
        <div class="form-group">
            {{#if docTemp.isValidity}}
                <label class="control-label">
                    {{app_controller.translation.validity}}  <span class="glyphicon glyphicon glyphicon-ok"></span>
                </label>
            {{else}}
                <label class="control-label">
                    {{app_controller.translation.validity}}
                </label>
            {{/if}}
            {{#if mode_view}}
                {{input value = docTemp.validityNum type = "number" class = 'form-control' disabled = true}}
            {{else}}
                {{input value = docTemp.validityNum type = "number" class = 'form-control' disabled = docTemp.isDeadline}}
            {{/if}}

        </div>
    </td>
    <td style="padding-top: 32px">
        {{#if mode_view}}
            {{view "select" content=type_period value=docTemp.validityType placeholder="Choose a period" class='form-control' disabled = true}}
        {{else}}
            {{view "select" content=type_period value=docTemp.validityType placeholder="Choose a period" class='form-control' disabled = docTemp.isDeadline}}
        {{/if}}

    </td>
    <td colspan="2">
        <div class="form-group">
            {{#if docTemp.deadline}}
                <label class="control-label">
                    {{app_controller.translation.deadline}}  <span class="glyphicon glyphicon glyphicon-ok"></span>
                </label>
            {{else}}
                <label class="control-label">
                    {{app_controller.translation.deadline}}
                </label>
            {{/if}}

            {{#if mode_view}}
                {{input value = docTemp.showDeadline type = "text" class = 'form-control' disabled = true}}
            {{else}}
                {{#if docTemp.isValidity}}
                    {{input value = docTemp.showDeadline type = "text" class = 'form-control' disabled = true}}
                {{else}}
                    {{bootstrap-datepicker
                    value = docTemp.deadline
                    clearBtn = true
                    placeholder = "Select a date"
                    class = "form-control"
                    autoclose = true}}
                {{/if}}


                {{!{{input value = docTemp.deadline type = "date" class = 'form-control' format="YYYY-MM-DD" disabled = docTemp.isValidity}}
            {{/if}}
            {{!{{date-picker date=docTemp.deadline valueFormat='YYYY-MM-DD' class="form-control" disabled= controller.isValidity}}

        </div>
    </td>
</tr>
<!------------------------ QUARTA RIGA --------------------------->
<tr>
    <td>
        <div class="form-group">
            <label class="control-label">{{app_controller.translation.alert}}</label>
            {{input type="number" class="form-control" value=docTemp.alertNum disabled = mode_view}}
        </div>
    </td>
    <td style="padding-top: 32px">{{view "select" content=type_period value=docTemp.alertType placeholder="Choose a period" class='form-control' disabled = mode_view }}</td>
    <td>
        <div class="form-group">
            <label class="control-label">{{app_controller.translation.grace}}</label>
            {{input type="number" class="form-control" value=docTemp.graceNum disabled = mode_view}}
        </div>
    </td>
    <td style="padding-top: 32px">{{view "select" content=type_period value=docTemp.graceType placeholder="Choose a period" class='form-control'disabled = mode_view }}</td>
</tr>
<!------------------------ QUINTA RIGA --------------------------->
<tr>
    <td colspan="4">
        <div class="form-group">
            <label class="control-label">
                {{#unless mode_view}}
                    <span {{action "open_modal" 'admin/modals/add-file' null docTemp}} style="cursor: pointer;" class="btn-font-color glyphicon glyphicon-plus"></span>
                {{/unless}}

                {{app_controller.translation.files}}
            </label>
            {{#if mode_view}}
                {{#each file in docTemp.files}}
                    <br>
                    <span {{action "download_file" file.id}} style="cursor: pointer;" class="btn-font-color">{{file.name}}</span>
                {{/each}}
            {{else}}
                {{#each file in docTemp.files}}
                    <br>
                    <span {{action 'open_modal' 'admin/modals/delete-record' file this}} style="cursor: pointer;" class="glyphicon glyphicon-trash btn-font-color"></span> &nbsp; {{file.name}}

                {{/each}}
            {{/if}}
        </div>
    </td>
</tr>