<!------------------------------- RECORD FIELD ------------------------------------->
<form class="form-horizontal">
    <fieldset>
    <div class="form-group">
        <div class="col-lg-1">
            <button class="btn btn-primary btn-50" {{action 'set_record' new_record 'view_new_field' false}}><span class="glyphicon glyphicon-ok"></span></button>
        </div>
        <div class="col-lg-9"><legend>{{app_controller.translation.new}} {{app_controller.translation.document}}</legend></div>
        <div class="col-lg-2">
            <button class="btn btn-default btn-group-justified" {{action 'change_mode' 'view_new_field' false 'return' new_record}}>
                <strong>{{app_controller.translation.return}}</strong>
            </button>
        </div>
    </div>


        <!------------------------------- type - company/trailer/driver/truck ------------------------------------->
    <div class="form-group">
        <label  class="col-lg-2 control-label">{{app_controller.translation.type}}</label>
        <div class="col-lg-10">
            {{input value = new_record.type type = "text" class = 'form-control' disabled=true}}
        </div>
    </div>
        <!--<div class="form-group">-->
            <!--<label  class="col-lg-2 control-label">{{!{{app_controller.translation.type}}</label>-->
            <!--<div class="col-lg-10">-->
                <!--{{!{{view Ember.Select-->
                <!--content=type_document-->
                <!--value=new_record.type-->
                <!--placeholder="Choose a document type"-->
                <!--class='form-control'-->
                <!--}}-->
            <!--</div>-->
        <!--</div>-->
        <!------------------------------- name  ------------------------------------->

        {{#view 'required-field' value=new_record.name toChange='changeState_name'}}
            <div class="form-group" id="changeState_name">
                <label  class="col-lg-2 control-label">{{app_controller.translation.name}}</label>
                <div class="col-lg-10">
                    {{input value = new_record.name type = "text" class = 'form-control'}}
                </div>
            </div>
        {{/view}}

        <!------------------------------- rate value ------------------------------------->
    {{#view 'required-field' value=new_record.rateValue toChange='changeState_rateValue'}}
        <div class="form-group" id="changeState_rateValue">
            <label  class="col-lg-2 control-label">{{app_controller.translation.rate}}</label>
            <div class=col-lg-4>
                {{input value = new_record.rateValue type = "number" class = 'form-control'}}
            </div>
            <!------------------------------- rate value with progress bar ------------------------------------->
            <div class=col-lg-4>
                {{#if controller.new_record.isCompany}}
                    <div class="progress" style="background-color: #ffffff; border: 1px; border-color: #000000;  margin-top: 10px">
                        <div {{bind-attr class= isCompanyRatingOut}} {{bind-attr style = progressCompanyRating}}></div>
                    </div>
                {{/if}}
                {{#if controller.new_record.isDriver}}
                    <div class="progress" style="background-color: #ffffff; border: 1px; border-color: #000000;  margin-top: 10px">
                        <div {{bind-attr class= isDriverRatingOut}} {{bind-attr style = progressDriverRating}}></div>
                    </div>
                {{/if}}
                {{#if controller.new_record.isTruck}}
                    <div class="progress" style="background-color: #ffffff; border: 1px; border-color: #000000;  margin-top: 10px">
                        <div {{bind-attr class= isTruckRatingOut}} {{bind-attr style = progressTruckRating}}></div>
                    </div>
                {{/if}}
                {{#if controller.new_record.isTrailer}}
                    <div class="progress" style="background-color: #ffffff; border: 1px; border-color: #000000; margin-top: 10px">
                        <div {{bind-attr class= isTrailerRatingOut}} {{bind-attr style = progressTrailerRating}}></div>
                    </div>
                {{/if}}
            </div>
            <div class=col-lg-2>
                {{#if controller.new_record.isCompany}}
                    <h4>{{companyRating}} %</h4>
                {{/if}}
                {{#if controller.new_record.isDriver}}
                    <h4>{{driverRating}} %</h4>
                {{/if}}
                {{#if controller.new_record.isTruck}}
                    <h4>{{truckRating}} %</h4>
                {{/if}}
                {{#if controller.new_record.isTrailer}}
                    <h4>{{trailerRating}} %</h4>
                {{/if}}
            </div>
        </div>
    {{/view}}
        <!------------------------------- limit ------------------------------------->
        <div class="form-group">
            <label class="col-lg-2 control-label">{{app_controller.translation.limit}}</label>
            <div class=col-lg-4>
                {{#if new_record.limit}}
                    {{input value = new_record.limit type = "number" class = 'form-control' placeholder="0-100"}}
                {{else}}
                    <span class="glyphicon glyphicon glyphicon-unchecked" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'limit' true}}></span>
                {{/if}}
            </div>
            <div class="col-lg-6">
                {{#if new_record.limit}}
                    <span class="glyphicon glyphicon glyphicon-check" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'limit' false}}></span>
                {{/if}}
            </div>
        </div>
        <!------------------------------- goods confiscation - boolean ------------------------------------->
        <div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-1">
                {{#if new_record.goodsConfiscation}}
                    <span class="glyphicon glyphicon glyphicon-check" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'goodsConfiscation' false}}></span>
                {{else}}
                    <span class="glyphicon glyphicon glyphicon-unchecked" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'goodsConfiscation' true}}></span>
                {{/if}}
            </div>
            <label class="col-lg-9">{{app_controller.translation.goodsConfiscation}}</label>
        </div>
        <!------------------------------- vehicle confiscation - boolean ------------------------------------->
        <div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-1">
                {{#if new_record.vehicleConfiscation}}
                    <span class="glyphicon glyphicon glyphicon-check" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'vehicleConfiscation' false}}></span>
                {{else}}
                    <span class="glyphicon glyphicon glyphicon-unchecked" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'vehicleConfiscation' true}}></span>
                {{/if}}
            </div>
            <label class="col-lg-9">{{app_controller.translation.vehicleConfiscation}}</label>
        </div>
        <!------------------------------- fiscal Responsibility - boolean ------------------------------------->
        <div class="form-group">
            <label class="col-lg-2"></label>
            <div class="col-lg-1">
                {{#if new_record.fiscalResponsibility}}
                    <span class="glyphicon glyphicon glyphicon-check" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'fiscalResponsibility' false}}></span>
                {{else}}
                    <span class="glyphicon glyphicon glyphicon-unchecked" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'fiscalResponsibility' true}}></span>
                {{/if}}
            </div>
            <label class="col-lg-9">{{app_controller.translation.fiscalResponsibility}}</label>
        </div>
        <!------------------------------- emas - boolean ------------------------------------->
        <div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-1">
                {{#if new_record.emas}}
                    <span class="glyphicon glyphicon glyphicon-check" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'emas' false}}></span>
                {{else}}
                    <span class="glyphicon glyphicon glyphicon-unchecked" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'emas' true}}></span>
                {{/if}}
            </div>
            <label class="col-lg-9">{{app_controller.translation.emas}}</label>
        </div>
    <!------------------------------- booleanRating - boolean ------------------------------------->
    <div class="form-group">
        <label class="col-lg-2 control-label"></label>
        <div class="col-lg-1">
            {{#if new_record.booleanRating}}
                <span class="glyphicon glyphicon glyphicon-check" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'booleanRating' false}}></span>
            {{else}}
                <span class="glyphicon glyphicon glyphicon-unchecked" style="cursor: pointer; margin-top: 5px" {{action 'set_record' new_record 'booleanRating' true}}></span>
            {{/if}}
        </div>
        <label class="col-lg-9">{{app_controller.translation.booleanRating}}</label>
    </div>

        <!------------------------------- validity ------------------------------------->
    {{#view 'required-field' value=new_record.validityNum toChange='changeState_validity' valueToMatch=new_record.deadline }}
        <div class="form-group" style="margin-top: 20px" id="changeState_validity">
            <label  class="col-lg-2 control-label">{{app_controller.translation.validity}}</label>
            <div class="col-lg-2">
                {{input value = new_record.validityNum type = "number" class = 'form-control' disabled=new_record.isDeadline }}
            </div>
            <div class="col-lg-2">
                {{view "select"
                content=type_period
                value=new_record.validityType
                placeholder="Choose a period"
                class='form-control'
                selection=selectedValidity}}
            </div>
            <!------------------------------- deadline ------------------------------------->
            <label class="col-lg-2 control-label">{{app_controller.translation.deadline}}</label>
            <div class="col-lg-4">
                {{input value = new_record.deadline type = "date" class = 'form-control' disabled=new_record.isValidity}}
            </div>
        </div>
    {{/view}}

        <!------------------------------- alert ------------------------------------->

    <div class="form-group" style="margin-top: 20px" >
    {{#view 'required-field' value=new_record.alertNum toChange='changeState_alertNum'}}
            <div id="changeState_alertNum">
                <label  class="col-lg-2 control-label">{{app_controller.translation.alert}}</label>
                <div class="col-lg-2">
                    {{input value = new_record.alertNum type = "number" class = 'form-control'}}
                </div>
                <div class="col-lg-2">
                    {{view "select"
                    content=type_period
                    value=new_record.alertType
                    placeholder="Choose a period"
                    class='form-control'
                    }}
                </div>
            </div>
    {{/view}}


            <!------------------------------- grace ------------------------------------->
    {{#view 'required-field' value=new_record.graceNum toChange='changeState_graceNum'}}
            <div id="changeState_graceNum">
                <label class="col-lg-2 control-label">{{app_controller.translation.grace}}</label>
                <div class="col-lg-2">
                    {{input value = new_record.graceNum type = "number" class = 'form-control'}}
                </div>
                <div class="col-lg-2">
                    {{view "select"
                    content=type_period
                    value=new_record.graceType
                    placeholder="Choose a period"
                    class='form-control'
                    }}
                </div>
            </div>
        </div>
    {{/view}}

    <!------------------------------- files list ------------------------------------->
        {{#if new_record.files}}
            <div class="form-group">
                <label class="col-lg-2 control-label">{{app_controller.translation.files}}</label>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="row" style="margin-top: 15px">
                                        <div class="col-lg-12">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th>{{app_controller.translation.name}}</th>
                                                    <th>{{app_controller.translation.type}}</th>

                                                    <th>{{app_controller.translation.delete}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each file in new_record.files}}
                                                    <tr>
                                                        <td>{{file.name}}</td>
                                                        <td>{{file.type}}</td>

                                                        <td><a {{action 'open_modal' 'admin/modals/delete-record' file this}} style="cursor: pointer"><span class="glyphicon glyphicon-trash"></span></a></td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        <div class="page-header"></div>
        <div class="form-group">
            <label  class="col-lg-2 control-label">{{app_controller.translation.loadModel}}</label>
            <div class="col-lg-10">
                {{#view 'upload-file' record_model='doc-template'}}
                    <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse file&hellip; <input type="file" multiple>
                                </span>
                            </span>
                        {{input id="selected_file" type="text" placeholder="max. 10 MB" class='form-control'}}
                        <span class="input-group-btn">
                            <button id='button_upload' {{bind-attr value=new_record.id}} type="button" data-loading-text="Loading..." class="btn btn-primary btn-130 pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Upload</button>
                        </span>
                    </div>
                {{/view}}
            </div>
        </div>
    </fieldset>
</form>



