<div class="panel panel-default" style="margin-top: 20px">
    <div class="panel-body">
        {{#if controller.tabList.general}}
            <div class="row">
                <div class="col-lg-5">
                    <h5>
                        <a {{action 'create_record' this 'view_new_field' true 'company'}}>
                            <span class="glyphicon glyphicon-plus btn-font-color" style="cursor: pointer"></span>
                        </a>
                        &nbsp;
                        {{app_controller.translation.company}}
                    </h5>
                    <div class="progress">
                        <div {{bind-attr class= isCompanyRatingOut}} {{bind-attr style = progressCompanyRating}}></div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <h5 style="margin-top: 45px">{{companyRating}} %</h5>
                </div>
                <div class="col-lg-5">
                    <h5>
                        {{#unless view_new_field}}
                            <a {{action 'create_record' this 'view_new_field' true 'driver'}}>
                                <span class="glyphicon glyphicon-plus btn-font-color" style="cursor: pointer"></span>
                            </a>
                            &nbsp;
                            {{app_controller.translation.driver}}
                        {{else}}
                            <a {{action 'set_record' new_record 'view_new_field' false}}>
                                <span class="glyphicon glyphicon-ok btn-font-color" style="cursor: pointer"></span>
                            </a>
                            {{app_controller.translation.driver}}
                        {{/unless}}
                    </h5>
                    <div class="progress">
                        <div {{bind-attr class= isDriverRatingOut}} {{bind-attr style = progressDriverRating}}></div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <h5 style="margin-top: 45px">{{driverRating}} %</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <h5>
                        {{#unless view_new_field}}
                            <a {{action 'create_record' this 'view_new_field' true 'truck'}}>
                                <span class="glyphicon glyphicon-plus btn-font-color" style="cursor: pointer"></span>
                            </a>
                            &nbsp;
                            {{app_controller.translation.truck}}
                        {{else}}
                            <a {{action 'set_record' new_record 'view_new_field' false}}>
                                <span class="glyphicon glyphicon-ok btn-font-color" style="cursor: pointer"></span>
                            </a>
                            {{app_controller.translation.truck}}
                        {{/unless}}
                    </h5>
                    <div class="progress">
                        <div {{bind-attr class= isTruckRatingOut}} {{bind-attr style = progressTruckRating}}></div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <h5 style="margin-top: 45px">{{truckRating}} %</h5>
                </div>
                <div class="col-lg-5">
                    <h5>
                        {{#unless view_new_field}}
                            <a {{action 'create_record' this 'view_new_field' true 'trailer'}}>
                                <span class="glyphicon glyphicon-plus btn-font-color" style="cursor: pointer"></span>
                            </a>
                            &nbsp;
                            {{app_controller.translation.trailer}}
                        {{else}}
                            <a {{action 'set_record' new_record 'view_new_field' false}}>
                                <span class="glyphicon glyphicon-ok btn-font-color" style="cursor: pointer"></span>
                            </a>
                            {{app_controller.translation.trailer}}
                        {{/unless}}
                    </h5>
                    <div class="progress">
                        <div {{bind-attr class= isTrailerRatingOut}} {{bind-attr style = progressTrailerRating}}></div>      <!-- progress-bar-danger  -->
                    </div>
                </div>
                <div class="col-lg-1">
                    <h5 style="margin-top: 45px">{{trailerRating}} %</h5>
                </div>
            </div>
        {{else}}
            <div class="row">
                <div class="col-lg-11">
                    {{#if controller.tabList.company}}
                        <div class="progress" style="margin-top: 10px">
                            <div {{bind-attr class= isCompanyRatingOut}} {{bind-attr style = progressCompanyRating}}></div>
                        </div>
                    {{/if}}
                    {{#if controller.tabList.driver}}
                        <div class="progress" style="margin-top: 10px">
                            <div {{bind-attr class= isDriverRatingOut}} {{bind-attr style = progressDriverRating}}></div>
                        </div>
                    {{/if}}
                    {{#if controller.tabList.truck}}
                        <div class="progress" style="margin-top: 10px">
                            <div {{bind-attr class= isTruckRatingOut}} {{bind-attr style = progressTruckRating}}></div>
                        </div>
                    {{/if}}
                    {{#if controller.tabList.trailer}}
                        <div class="progress" style="margin-top: 10px">
                            <div {{bind-attr class= isTrailerRatingOut}} {{bind-attr style = progressTrailerRating}}></div>
                        </div>
                    {{/if}}
                </div>
                <div class="col-lg-1">
                    {{#if controller.tabList.company}}
                        <h5>{{companyRating}} %</h5>
                    {{/if}}
                    {{#if controller.tabList.driver}}
                        <h5>{{driverRating}} %</h5>
                    {{/if}}
                    {{#if controller.tabList.truck}}
                        <h5>{{truckRating}} %</h5>
                    {{/if}}
                    {{#if controller.tabList.trailer}}
                        <h5>{{trailerRating}} %</h5>
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>
</div>

{{#if controller.tabList.general}}

    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-1">
                    <!-------------------- pencil ---------------------->
                    {{#if controller.view_totWeight}}
                        <button class="btn btn-primary btn-50" {{action 'change_mode' 'view_totWeight' false}}><span class="glyphicon glyphicon-pencil"></span></button>

                        <!-------------------- ok ---------------------->
                    {{else}}
                        <button class="btn btn-primary btn-50" {{action 'set_record' configurations 'view_totWeight' true totalWeight}}><span class="glyphicon glyphicon-ok"></span></button>
                    {{/if}}
                </div>
                <div class="col-lg-11"><legend>{{app_controller.translation.totalWeight}} {{totalWeight}} %</legend></div>
            </div>
            <div class="row">
                {{#each weight in configurations}}
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">{{weight.name}} &nbsp; {{app_controller.translation.weight}}</label>
                            <div class="input-group">
                                {{input value =  weight.valueNum type = "number" class = 'form-control' disabled= controller.view_totWeight}}
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/if}}