<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'dashboard/main'}}<div class="navbar-brand">Dashboard</div>{{/link-to}}
        </div>
        <div class="navbar-collapse navbar-responsive-collapse collapse in" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'your-profile/main' company_id}} {{controller.translation.yourProfile}} {{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav">
                <li>{{#link-to 'link/main' company_id}} {{controller.translation.links}} {{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                {{#link-to 'notification/main' company_id}}{{controller.translation.notifications}}
                    {{#if controller.company_record.firedNotifications}}
                        <span class="badge">{{controller.company_record.firedNotifications}}</span>
                    {{/if}}
                {{/link-to}}
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>{{#link-to 'admin/main' company_id}} {{controller.translation.admin}} {{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav">
                <li>{{#link-to 'account/main' company_id}} {{controller.translation.account}} {{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{controller.translation.language}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" {{action 'changeLanguage' 'english'}}>{{controller.translation.english}}</a></li>
                        <li><a href="#" {{action 'changeLanguage' 'italian'}}>{{controller.translation.italian}}</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#" {{action 'logout'}}>Logout</a></li>
            </ul>
        </div>
    </div>
</div>