

<div class="navbar navbar-default navbar-fixed-top" style="max-height: 40px">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'dashboard/main'}}<div class="navbar-brand">Dashboard</div>{{/link-to}}
        </div>
        <div class="navbar-collapse navbar-responsive-collapse collapse in" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'your-profile/main' company_id}} {{controller.translation.yourCompany}} {{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav">
                <li>{{#link-to 'search-company/main'}} {{controller.translation.searchCompanies}} {{/link-to}}</li>
            </ul>

            {{#if controller.user_type_admin}}
                <ul class="nav navbar-nav">
                    <li>{{#link-to 'link/main' company_id}} {{controller.translation.links}} {{/link-to}}</li>
                </ul>
            {{/if}}

            <ul class="nav navbar-nav">
            <li>
                {{#if controller.company_record.firedNotifications}}
                    {{#link-to 'notification/main' company_id}}
                        {{controller.translation.notifications}}
                        <span class="badge" style="max-height: 40px">{{controller.company_record.firedNotifications}}</span>
                    {{/link-to}}
                {{else}}
                    {{#link-to 'notification/main' company_id}}
                        {{controller.translation.notifications}}
                    {{/link-to}}
                {{/if}}
            </li>
            </ul>
            {{#if is_certifier}}
                <ul class="nav navbar-nav">
                    <li>{{#link-to 'admin/main' company_id}} {{controller.translation.admin}} {{/link-to}}</li>
                </ul>
            {{/if}}
            {{#if controller.user_type_admin}}
                <ul class="nav navbar-nav">
                    <li>{{#link-to 'account/main' company_id}} {{controller.translation.account}} {{/link-to}}</li>
                </ul>
            {{/if}}


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{controller.translation.language}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" {{action 'changeLanguage' 'english'}}>{{controller.translation.english}}</a></li>
                        <li><a href="#" {{action 'changeLanguage' 'italian'}}>{{controller.translation.italian}}</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#" {{action 'logout'}}>Logout</a></li>
            </ul>

        </div>
    </div>
</div>

