<!-------------------------------------
    FORM company details
------>


<!--------------------- IMAGE LOGO --------------------->

{{partial 'your-profile/partials/-logo'}}


<!--------------------- details - view --------------------->
{{#if controller.isView}}
    <div class="row row-margin-top-bottom">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            {{partial 'your-profile/partials/-field-company'}}
        </div>
        <div class="col-lg-1"></div>
    </div>
{{else}}

    <!--------------------- details - edit --------------------->
    <div class="well well-sm">
        <div class="row row-margin-top-bottom">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                {{partial 'your-profile/partials/-field-company'}}
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
{{/if}}

<!--------------------- document - view --------------------->
{{#if controller.isView_docList}}
    <div class="row row-margin-top-bottom">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            {{partial 'your-profile/partials/-company-documents-list'}}
        </div>
        <div class="col-lg-1"></div>
    </div>
{{else}}

    <!--------------------- document - edit --------------------->
    <div class="well well-sm">
        <div class="row row-margin-top-bottom">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                {{partial 'your-profile/partials/-company-document-edit'}}
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
{{/if}}